.school {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #242424;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.school:hover {
    /* background-color: rgb(42, 42, 42); */
    box-shadow: 0 0 0 1px rgb(255, 212, 121) inset;
    color: rgb(255, 212, 121);
}

.school h2 {
    margin-top: 0;
}

.school p {
    margin: 0;
}

.school img {
    border-radius: 10px;
    height: 100px;
    width: 100px;
    object-fit: contain;
}

.school .details {
    height: 100px;
    /* width: 450px; */
    width: 100%;
    margin-left: 30px;
    text-align: left;
    justify-content: space-between;
}

.additional-info {
    display: flex;
    flex-direction: row;
    font-style: italic;
    color: gray;
    justify-content: space-between;
}