.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-self: flex-start;;
    gap: 20px;
    margin-top: 30px;
}

.contact-info a:hover {
    color: rgb(255, 212, 121);
}

.contact-form { 
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
    width: 450px;
    text-align: left;
}

.contact-form label { 
    font-weight: bold; 
}

.contact-form input, 
.contact-form textarea {
    padding: 8px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 16px; 
    min-width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.contact-form input:hover, 
.contact-form textarea:hover {
    box-shadow: 0 0 0 1px rgb(255, 212, 121) inset;
    color: rgb(255, 212, 121);
}

.contact-form label:has(+ input:hover),
.contact-form label:has(+ textarea:hover) {
    color: rgb(255, 212, 121);
}

.contact-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}