.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.mission-statement {
    max-width: 800px;
    text-align: left;
    background-color: rgb(30, 30, 30);
    padding: 40px;
    margin: 20px 40px 0 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.mission-title {
    font-size: 2em;
    margin-bottom: 15px;
    font-weight: bold;
    line-height: 1;
}

.learn-more {
    margin-top: 20px;
}

.slogan {
    font-size: 7em;
    line-height: 0.92em;
    margin-top: 0.1em;
    margin-bottom: 0.35em;
    font-weight: 100;
}

.highlight {
    color: rgb(255, 212, 121);
}

/* @media (prefers-color-scheme: light) {
  .mission-statement {
    background-color: #f0f0f0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
} */