.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects .list {
    display: grid;
    grid-template-columns: 1fr;
    width: 850px;
    background-color: rgb(30, 30, 30);
    padding: 40px;
    border-radius: 10px;
    gap: 40px;
    justify-content: center;
}

.admin-banner {
    display: flex;
    margin: 0 0 20px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: medium;
}

@media (max-width: 1750px) {
    .projects .list {
        width: 80%;
    }
}