.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary-container {
    max-width: 1100px;
    text-align: left;
    background-color: rgb(30, 30, 30);
    padding: 40px;
    margin: 0 40px 0 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.summary-container::after {
    content: "";
    display: table;
    clear: both;
}

.summary {
    display: block;
    font-size: 1em;
}

.photo {
    width: 255px;
    height: auto;
    margin: 0 25px 5px 0;
    border-radius: 8px;
    flex-shrink: 0;
    float: left;
}

.summary p {
    margin: 0 0 1rem 0;
}

@media (max-width: 700px) {
    .photo {
        float: none;
        display: block;
        margin: 0 auto 20px auto;
        width: 180px;
    }
    .summary {
        display: block;
    }
}