.education {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.education .list {
    display: grid;
    grid-template-columns: 1fr;
    width: 850px;
    background-color: rgb(30, 30, 30);
    padding: 40px;
    border-radius: 10px;
    gap: 40px;
}

.education .placeholder {
    color: white;
    font-size: 24px;
}