.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-self: flex-start;;
    gap: 20px;
    margin-top: 30px;
}

.login-info a:hover {
    color: rgb(255, 212, 121);
}

.login-form { 
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
    width: 450px;
    text-align: left;
}

.login-form label { 
    font-weight: bold; 
}

.login-form input, 
.login-form textarea {
    padding: 8px; 
    border: 1px solid #ccc; 
    color: white;
    background-color: rgb(30, 30, 30);
    border-radius: 4px; 
    font-size: 16px; 
    min-width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.login-form input:hover, 
.login-form textarea:hover {
    box-shadow: 0 0 0 1px rgb(255, 212, 121) inset;
    color: rgb(255, 212, 121);
}

.login-form label:has(+ input:hover),
.login-form label:has(+ textarea:hover) {
    color: rgb(255, 212, 121);
}

.login-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}

#not-found {
    background: rgb(170, 0, 0); 
    color: white; 
    padding: 5px; 
    width: 50%;
    align-self: center; 
    text-align: center; 
    border-radius: 8px;
}