.warning-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
    cursor: default;
}

.warning-delete {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(11, 11, 11);
    border: 1px solid rgb(255, 212, 121);
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(19, 18, 18, 0.1);
}

.warning-delete p {
    margin: 0;
    font-size: 1.1em;
}

.warning-delete-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}