.title {
    font-family: QwitcherGrypen-Bold;
    font-size: 100px;
    cursor: default;
}

.layout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 125px;
    overflow-x: hidden;
}

.layout .title {
    color: white;
    margin: 0 20px;
    /* font-size: 2.5em; */
    flex-grow: 1;
    text-align: left;
}

.layout nav {
    /* position: absolute; */
    display: flex;
    /* right: 20px; */
    /* margin-top: 135px; */
    margin-left: auto;
    margin-right: 50px;
    font-size: larger;
    color: white;
    gap: 20px;
}

.layout.active {
    background-color: #333;
    color: white;
}  

.layout .header-lines {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* height: 110px; */
    height: 259.4px;
    justify-content: center;
    /* gap: 320px; */
    gap: 185px;
}

.layout .header-lines .line {
    align-self: flex-end;
    height: 3.8px;
    width: 100%;
    background-color: white;
    bottom: 0;
    margin: 0;
    box-shadow: 0 0 1px 0 white;
    border-radius: 8px;
}

.layout .header-lines .navigation {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.layout .header-lines nav {
    align-self: flex-end;
    margin-top: auto;
    margin-bottom: 20px;
}

link {
    /* text-decoration: none; */
    color: white;
    font-weight: lighter;
    letter-spacing: 1.5px;
    transition: color 0.3s;
    font-size: medium;
}


@media (max-width: 1600px) {
    .layout .header-lines nav {
        flex-direction: column;
        gap: 15px;
        font-size: 100%;
    }
}

@font-face {
    font-family: "QwitcherGrypen";
    src: local("QwitcherGrypen"),
    url("../../assets/fonts/QwitcherGrypen/QwitcherGrypen-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "QwitcherGrypen-Bold";
    src: local("QwitcherGrypen"),
    url("../../assets/fonts/QwitcherGrypen/QwitcherGrypen-Bold.ttf") format("truetype");
}