.title {
    font-family: QwitcherGrypen-Bold;
    font-size: 100px;
    cursor: default;
}

.logo {
    width: 100px;
    height: auto;
    cursor: pointer;
}

.layout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 20px 0 20px;
}

.layout .title {
    color: white;
    margin: 0 20px;
    /* font-size: 2.5em; */
    flex-grow: 1;
    text-align: left;
}

.layout nav {
    display: flex;
    margin-left: auto;
    font-size: larger;
    gap: 35px;
}

.layout.active {
    background-color: #333;
    color: white;
}  

@font-face {
    font-family: "QwitcherGrypen";
    src: local("QwitcherGrypen"),
    url("../../assets/fonts/QwitcherGrypen/QwitcherGrypen-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "QwitcherGrypen-Bold";
    src: local("QwitcherGrypen"),
    url("../../assets/fonts/QwitcherGrypen/QwitcherGrypen-Bold.ttf") format("truetype");
}