.school {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 35px;
    background-color: #242424;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.school:hover {
    background-color: rgb(42, 42, 42);
}

.school h2 {
    margin-top: 0;
}

.school p {
    margin: 0;
}

.school .details {
    height: 100px;
    width: 450px;
    margin-left: 30px;
    text-align: left;
    justify-content: space-between;
    /* line-height: 0.75; */
}

.additional-info {
    display: flex;
    flex-direction: row;
    font-style: italic;
    color: gray;
    justify-content: space-between;
    /* line-height: 0.75; */
}