.school {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #242424;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.school:hover {
    box-shadow: 0 0 0 1px rgb(255, 212, 121) inset;
    color: rgb(255, 212, 121);
}

.school h2 {
    margin-top: 0;
}

.school p {
    margin: 0;
}

.school .school-name {
    font-size: 1.3em;
    margin: 10px 0 15px;
    font-weight: bold;
    line-height: 1;
    text-align: left;
}

.school img {
    border-radius: 10px;
    height: 100px;
    width: 100px;
    object-fit: contain;
}

.school .details {
    height: 100px;
    width: 100%;
    margin-left: 30px;
    font-size: 1em;
    text-align: left;
    justify-content: space-between;
}

.additional-info {
    display: flex;
    flex-direction: row;
    font-style: italic;
    color: gray;
    justify-content: space-between;
}

.school .school-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.school-admin-buttons {
    display: flex;
    gap: 10px;
}